@font-face {
  font-family: modern;
  src: url(./ModernSans-Light.woff);
}

* {
  margin: 0;
  font-family: modern;
}

body,main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

#txt {
  position: absolute;
  bottom: 6vh;
  padding: 1rem 1.5rem;
  border-radius: 1.7rem;
}

#pic {
  min-width: calc(max(90vw, 450px));
  margin: 5vh 0 0 0;
}

#controls {
  color: white;
}

@media screen and (max-width:400px),
screen and (max-height:650px) {

}

#special_msg {
  position: absolute;
  top: 2vh;
  cursor: pointer;
}

#mx {
  position: absolute;
  bottom: 2vh;
}