* {
  margin: 0;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #111;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction:row;
}
#txt {
  position:absolute;
  bottom:15vh;
}
#pic {
  width:90vw;
}
#controls {
  color:white;
}

@media screen and (max-width:400px),
screen and (max-height:650px) {

}

#special_msg {
  position:absolute;
  bottom:10vh;
}
#mx {
  position:absolute;
  bottom:0;
}